<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trainingCategoryNode">
            <h2><span jhiTranslate="securityRatApp.trainingCategoryNode.detail.title">Training Category Node</span> {{ trainingCategoryNode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.trainingCategoryNode.name">Name</span></dt>
                <dd>
                    <span>{{ trainingCategoryNode.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingCategoryNode.node">Node</span></dt>
                <dd>
                    <div *ngIf="trainingCategoryNode.node">
                        <a [routerLink]="['/training-tree-node', trainingCategoryNode.node?.id, 'view']">{{ trainingCategoryNode.node?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingCategoryNode.category">Category</span></dt>
                <dd>
                    <div *ngIf="trainingCategoryNode.category">
                        <a [routerLink]="['/req-category', trainingCategoryNode.category?.id, 'view']">{{ trainingCategoryNode.category?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training-category-node', trainingCategoryNode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
