<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alternative-instance-heading" jhiTranslate="securityRatApp.alternativeInstance.home.createOrEditLabel">Create or edit a Alternative Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.alternativeInstance.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.alternativeInstance.alternativeSet" for="field_alternativeSet">Alternative Set</label>
                    <select class="form-control" id="field_alternativeSet" name="alternativeSet" formControlName="alternativeSet">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alternativeSetOption.id === editForm.get('alternativeSet')!.value?.id ? editForm.get('alternativeSet')!.value : alternativeSetOption" *ngFor="let alternativeSetOption of alternativesets; trackBy: trackById">{{ alternativeSetOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.alternativeInstance.requirementSkeleton" for="field_requirementSkeleton">Requirement Skeleton</label>
                    <select class="form-control" id="field_requirementSkeleton" name="requirementSkeleton" formControlName="requirementSkeleton">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requirementSkeletonOption.id === editForm.get('requirementSkeleton')!.value?.id ? editForm.get('requirementSkeleton')!.value : requirementSkeletonOption" *ngFor="let requirementSkeletonOption of requirementskeletons; trackBy: trackById">{{ requirementSkeletonOption.shortName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
