<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="training">
            <h2><span jhiTranslate="securityRatApp.training.detail.title">Training</span> {{ training.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.training.name">Name</span></dt>
                <dd>
                    <span>{{ training.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.training.description">Description</span></dt>
                <dd>
                    <span>{{ training.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.training.allRequirementsSelected">All Requirements Selected</span></dt>
                <dd>
                    <span>{{ training.allRequirementsSelected }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.training.optColumn">Opt Column</span></dt>
                <dd>
                    <span *ngFor="let optColumn of training.optColumns; let last = last">
                        <a [routerLink]="['/opt-column', optColumn?.id, 'view']">{{ optColumn.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.training.collection">Collection</span></dt>
                <dd>
                    <span *ngFor="let collection of training.collections; let last = last">
                        <a [routerLink]="['/collection-instance', collection?.id, 'view']">{{ collection.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.training.projectType">Project Type</span></dt>
                <dd>
                    <span *ngFor="let projectType of training.projectTypes; let last = last">
                        <a [routerLink]="['/project-type', projectType?.id, 'view']">{{ projectType.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training', training.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
