<div>
    <h2 id="page-heading">
        <span jhiTranslate="securityRatApp.projectType.home.title">Project Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-type" [routerLink]="['/project-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="securityRatApp.projectType.home.createLabel">
            Create a new Project Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'securityRatApp.projectType.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="projectTypes?.length === 0">
        <span jhiTranslate="securityRatApp.projectType.home.notFound">No projectTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="projectTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.showOrder">Show Order</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.active">Active</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.statusColumn">Status Column</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.projectType.optColumn">Opt Column</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectType of projectTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/project-type', projectType.id, 'view']">{{ projectType.id }}</a></td>
                    <td>{{ projectType.name }}</td>
                    <td>{{ projectType.description }}</td>
                    <td>{{ projectType.showOrder }}</td>
                    <td>{{ projectType.active }}</td>
                    <td>
                        <span *ngFor="let statusColumn of projectType.statusColumns; let last = last">
                            <a class="form-control-static" [routerLink]="['/status-column', statusColumn?.id, 'view']">{{ statusColumn.name }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let optColumn of projectType.optColumns; let last = last">
                            <a class="form-control-static" [routerLink]="['/opt-column', optColumn?.id, 'view']">{{ optColumn.name }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/project-type', projectType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/project-type', projectType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(projectType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
