<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collectionCategory">
            <h2><span jhiTranslate="securityRatApp.collectionCategory.detail.title">Collection Category</span> {{ collectionCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.collectionCategory.name">Name</span></dt>
                <dd>
                    <span>{{ collectionCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.collectionCategory.description">Description</span></dt>
                <dd>
                    <span>{{ collectionCategory.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.collectionCategory.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ collectionCategory.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.collectionCategory.active">Active</span></dt>
                <dd>
                    <span>{{ collectionCategory.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/collection-category', collectionCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
