<div>
    <h2 id="page-heading">
        <span jhiTranslate="securityRatApp.trainingCategoryNode.home.title">Training Category Nodes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-training-category-node" [routerLink]="['/training-category-node/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="securityRatApp.trainingCategoryNode.home.createLabel">
            Create a new Training Category Node
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'securityRatApp.trainingCategoryNode.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="trainingCategoryNodes?.length === 0">
        <span jhiTranslate="securityRatApp.trainingCategoryNode.home.notFound">No trainingCategoryNodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trainingCategoryNodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.trainingCategoryNode.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.trainingCategoryNode.node">Node</span></th>
                    <th scope="col" ><span jhiTranslate="securityRatApp.trainingCategoryNode.category">Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trainingCategoryNode of trainingCategoryNodes ;trackBy: trackId">
                    <td><a [routerLink]="['/training-category-node', trainingCategoryNode.id, 'view']">{{ trainingCategoryNode.id }}</a></td>
                    <td>{{ trainingCategoryNode.name }}</td>
                    <td>
                        <div *ngIf="trainingCategoryNode.node">
                            <a [routerLink]="['/training-tree-node', trainingCategoryNode.node?.id, 'view']" >{{ trainingCategoryNode.node?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="trainingCategoryNode.category">
                            <a [routerLink]="['/req-category', trainingCategoryNode.category?.id, 'view']" >{{ trainingCategoryNode.category?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/training-category-node', trainingCategoryNode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/training-category-node', trainingCategoryNode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(trainingCategoryNode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
