<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trainingTreeNode">
            <h2><span jhiTranslate="securityRatApp.trainingTreeNode.detail.title">Training Tree Node</span> {{ trainingTreeNode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.trainingTreeNode.nodeType">Node Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'securityRatApp.TrainingTreeNodeType.' + trainingTreeNode.nodeType }}">{{ trainingTreeNode.nodeType }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingTreeNode.sortOrder">Sort Order</span></dt>
                <dd>
                    <span>{{ trainingTreeNode.sortOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingTreeNode.active">Active</span></dt>
                <dd>
                    <span>{{ trainingTreeNode.active }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingTreeNode.parentId">Parent Id</span></dt>
                <dd>
                    <div *ngIf="trainingTreeNode.parentId">
                        <a [routerLink]="['/training-tree-node', trainingTreeNode.parentId?.id, 'view']">{{ trainingTreeNode.parentId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="securityRatApp.trainingTreeNode.trainingId">Training Id</span></dt>
                <dd>
                    <div *ngIf="trainingTreeNode.trainingId">
                        <a [routerLink]="['/training', trainingTreeNode.trainingId?.id, 'view']">{{ trainingTreeNode.trainingId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training-tree-node', trainingTreeNode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
