<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-training-tree-node-heading" jhiTranslate="securityRatApp.trainingTreeNode.home.createOrEditLabel">Create or edit a Training Tree Node</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingTreeNode.nodeType" for="field_nodeType">Node Type</label>
                    <select class="form-control" name="nodeType" formControlName="nodeType" id="field_nodeType">
                        <option value="RequirementNode">{{ 'securityRatApp.TrainingTreeNodeType.RequirementNode' | translate }}</option>
                        <option value="GeneratedSlideNode">{{ 'securityRatApp.TrainingTreeNodeType.GeneratedSlideNode' | translate }}</option>
                        <option value="CustomSlideNode">{{ 'securityRatApp.TrainingTreeNodeType.CustomSlideNode' | translate }}</option>
                        <option value="CategoryNode">{{ 'securityRatApp.TrainingTreeNodeType.CategoryNode' | translate }}</option>
                        <option value="BranchNode">{{ 'securityRatApp.TrainingTreeNodeType.BranchNode' | translate }}</option>
                        <option value="RootNode">{{ 'securityRatApp.TrainingTreeNodeType.RootNode' | translate }}</option>
                        <option value="ContentNode">{{ 'securityRatApp.TrainingTreeNodeType.ContentNode' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingTreeNode.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                           formControlName="sortOrder"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingTreeNode.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingTreeNode.parentId" for="field_parentId">Parent Id</label>
                    <select class="form-control" id="field_parentId" name="parentId" formControlName="parentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trainingTreeNodeOption.id === editForm.get('parentId')!.value?.id ? editForm.get('parentId')!.value : trainingTreeNodeOption" *ngFor="let trainingTreeNodeOption of trainingtreenodes; trackBy: trackById">{{ trainingTreeNodeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingTreeNode.trainingId" for="field_trainingId">Training Id</label>
                    <select class="form-control" id="field_trainingId" name="trainingId" formControlName="trainingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trainingOption.id === editForm.get('trainingId')!.value?.id ? editForm.get('trainingId')!.value : trainingOption" *ngFor="let trainingOption of trainings; trackBy: trackById">{{ trainingOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
