<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-training-generated-slide-node-heading" jhiTranslate="securityRatApp.trainingGeneratedSlideNode.home.createOrEditLabel">Create or edit a Training Generated Slide Node</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingGeneratedSlideNode.node" for="field_node">Node</label>
                    <select class="form-control" id="field_node" name="node" formControlName="node">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trainingTreeNodeOption.id === editForm.get('node')!.value?.id ? editForm.get('node')!.value : trainingTreeNodeOption" *ngFor="let trainingTreeNodeOption of trainingtreenodes; trackBy: trackById">{{ trainingTreeNodeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.trainingGeneratedSlideNode.optColumn" for="field_optColumn">Opt Column</label>
                    <select class="form-control" id="field_optColumn" name="optColumn" formControlName="optColumn">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="optColumnOption.id === editForm.get('optColumn')!.value?.id ? editForm.get('optColumn')!.value : optColumnOption" *ngFor="let optColumnOption of optcolumns; trackBy: trackById">{{ optColumnOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
