<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="optColumnContent">
            <h2><span jhiTranslate="securityRatApp.optColumnContent.detail.title">Opt Column Content</span> {{ optColumnContent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.optColumnContent.content">Content</span></dt>
                <dd>
                    <span>{{ optColumnContent.content }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.optColumnContent.optColumn">Opt Column</span></dt>
                <dd>
                    <div *ngIf="optColumnContent.optColumn">
                        <a [routerLink]="['/opt-column', optColumnContent.optColumn?.id, 'view']">{{ optColumnContent.optColumn?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="securityRatApp.optColumnContent.requirementSkeleton">Requirement Skeleton</span></dt>
                <dd>
                    <div *ngIf="optColumnContent.requirementSkeleton">
                        <a [routerLink]="['/requirement-skeleton', optColumnContent.requirementSkeleton?.id, 'view']">{{ optColumnContent.requirementSkeleton?.shortName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opt-column-content', optColumnContent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
