<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectType">
            <h2><span jhiTranslate="securityRatApp.projectType.detail.title">Project Type</span> {{ projectType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.projectType.name">Name</span></dt>
                <dd>
                    <span>{{ projectType.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.projectType.description">Description</span></dt>
                <dd>
                    <span>{{ projectType.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.projectType.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ projectType.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.projectType.active">Active</span></dt>
                <dd>
                    <span>{{ projectType.active }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.projectType.statusColumn">Status Column</span></dt>
                <dd>
                    <span *ngFor="let statusColumn of projectType.statusColumns; let last = last">
                        <a [routerLink]="['/status-column', statusColumn?.id, 'view']">{{ statusColumn.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.projectType.optColumn">Opt Column</span></dt>
                <dd>
                    <span *ngFor="let optColumn of projectType.optColumns; let last = last">
                        <a [routerLink]="['/opt-column', optColumn?.id, 'view']">{{ optColumn.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-type', projectType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
