<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statusColumn">
            <h2><span jhiTranslate="securityRatApp.statusColumn.detail.title">Status Column</span> {{ statusColumn.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.statusColumn.name">Name</span></dt>
                <dd>
                    <span>{{ statusColumn.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumn.description">Description</span></dt>
                <dd>
                    <span>{{ statusColumn.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumn.isEnum">Is Enum</span></dt>
                <dd>
                    <span>{{ statusColumn.isEnum }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumn.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ statusColumn.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumn.active">Active</span></dt>
                <dd>
                    <span>{{ statusColumn.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status-column', statusColumn.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
