<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statusColumnValue">
            <h2><span jhiTranslate="securityRatApp.statusColumnValue.detail.title">Status Column Value</span> {{ statusColumnValue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.statusColumnValue.name">Name</span></dt>
                <dd>
                    <span>{{ statusColumnValue.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumnValue.description">Description</span></dt>
                <dd>
                    <span>{{ statusColumnValue.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumnValue.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ statusColumnValue.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumnValue.active">Active</span></dt>
                <dd>
                    <span>{{ statusColumnValue.active }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.statusColumnValue.statusColumn">Status Column</span></dt>
                <dd>
                    <div *ngIf="statusColumnValue.statusColumn">
                        <a [routerLink]="['/status-column', statusColumnValue.statusColumn?.id, 'view']">{{ statusColumnValue.statusColumn?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status-column-value', statusColumnValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
