<div>
    <div class="page-header">
        <h2>Import Assistant: Overview</h2>
    </div>
    <p>
        The specified mapping was applied on all entries of the source table.
        The resulting entities are listed bellow and may be adjusted before
        confirming the import.
    </p>
    <div class="ia-section">
        <h3>ReqCategory (3)</h3>
        <table class="table table-striped ia-table">
            <thead>
                <tr>
                    <th>Instance Identifier</th>
                    <th>active</th>
                    <th>name</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABC</td>
                    <td>DEF</td>
                    <td>GHI</td>
                    <td>JKL</td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td>DEF</td>
                    <td>GHI</td>
                    <td>JKL</td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td>DEF</td>
                    <td>GHI</td>
                    <td>JKL</td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td>DEF</td>
                    <td>GHI</td>
                    <td>JKL</td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td>DEF</td>
                    <td>GHI</td>
                    <td>JKL</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ia-navigation">
        <button class="btn btn-danger" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="confirm()">
            <span class="glyphicon glyphicon-ok"></span>
            Apply changes
        </button>
    </div>
</div>
