<div>
    <div class="page-header">
        <h2>Import Assistant: Mapping Builder</h2>
    </div>
    <p>
        The selected source file was analyzed and the assistant attempted to
        derive some settings automatically. Please adjusted them as needed and
        finish the mapping between the table cells and the SecurityRAT
        entities.
    </p>

    <div class="ia-section">
        <h3>General Settings</h3>
        <p>
            Please specify whether your table provides its data row-wise or
            column-wise. Also, you may want to ignore specific entries (e.g.
            the title).
        </p>
        <form style="margin-top: 30px;">
            <div class="form-group">
                <label>Table Entry Type</label>
                <select class="form-control" ng-model="entryType">
                    <option value="column-based">Column-based</option>
                    <option value="row-based">Row-based</option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    Ignored
                    <span ng-if="entryType == 'column-based'">columns</span>
                    <span ng-if="entryType == 'row-based'">rows</span>
                </label>
                <input type="text" class="form-control" placeholder="e.g. 1, 7, 9">
            </div>
        </form>
    </div>

    <div class="ia-section">
        <h3>Mapping</h3>
        <p>
            Please create the mapping between the cells of one table entry and
            the corresponding SecurityRAT entities. Note that relations between
            the different entities are only possible within the same table
            entry. (Though you might want to enable the
            <span class="ia-italic">distinct</span> flag of an entity to merge
            equal instances.)
        </p>
        <div class="ia-push-down">
            <table id="table-view"
                class="table table-striped table-bordered ia-table">
                <thead>
                    <tr>
                        <!-- The first column is the column of the row labels -->
                        <th style="width: 30px;"></th>
                        <!-- Adding the column labels -->
                        <th ng-repeat="x in repeatArray(table.columns)">
                            {{ getColumnHeader($index) }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="y in repeatArray(table.rows)"
                        ng-init="rowIndex = $index">
                        <!-- Row label -->
                        <th>{{ rowIndex + 1 }}</th>
                        <!-- Cell data -->
                        <td ng-repeat="x in repeatArray(table.columns)"
                            ng-init="columnIndex = $index">
                            {{ table.data[rowIndex * table.columns + columnIndex] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ia-push-down ia-mapping-wrapper">
            <!-- Mapping Box -->
            <div class="panel panel-primary ia-mapping-box">
                <div class="panel-heading ia-bold">
                    New entity mapping
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>
                                Entity Type
                                <span class="glyphicon glyphicon-info-sign"
                                    title="The target SecurityRAT entity type."
                                    data-toggle="tooltip"
                                    data-placement="right"></span>
                            </label>
                            <select class="form-control"
                                ng-model="mappingBox.selectedEntityIdentifier">
                                <option value="{{ type.identifier }}"
                                    ng-repeat="type in mappingBox.entityTypes">
                                    {{ type.displayName }}
                                </option>
                            </select>
                        </div>
                        <hr ng-if="mappingBox.attributeMappings.length > 0">
                        <table class="table ia-table"
                            ng-if="mappingBox.attributeMappings.length > 0">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Mapping</th>
                                    <th>Target</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="attrMapping in mappingBox.attributeMappings">
                                    <td>
                                        <select class="form-control"
                                            ng-model="attrMapping.name">
                                            <option value="{{ attr.identifier }}"
                                                ng-repeat="attr in mappingBox.selectedEntity.attributes">
                                                {{ attr.displayName }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                            ng-model="attrMapping.type">
                                            <option value="entity" ng-if="mappingBox.isReference(attrMapping.name)">
                                                Entity
                                            </option>
                                            <option value="entry" ng-if="!mappingBox.isReference(attrMapping.name)">
                                                Entry
                                            </option>
                                            <option value="value" ng-if="!mappingBox.isReference(attrMapping.name)">
                                                Value
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                            ng-if="attrMapping.type === 'entity'"
                                            ng-model="attrMapping.entity">
                                            <option value="{{ entityMapping.id }}" ng-repeat="entityMapping in mappingBox.getEntityMappings(attrMapping.name)">
                                                {{ getMappingDisplayName(entityMapping.id) }}
                                            </option>
                                        </select>
                                        <select class="form-control"
                                            ng-if="attrMapping.type === 'entry'"
                                            ng-model="attrMapping.entry">
                                            <option value="{{ $index }}" ng-repeat="value in mappingBox.getEntryList()">
                                                {{ value }}
                                            </option>
                                        </select>
                                        <input class="form-control" type="text" ng-if="attrMapping.type === 'value'" ng-model="attrMapping.value">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <a class="ia-add-attr-mapping"
                            href="#"
                            ng-click="mappingBox.addMapping()">
                            Add attribute mapping
                        </a>
                    </form>
                </div>
                <div class="panel-footer ia-navigation">
                    <button class="btn btn-primary"
                        ng-click="mappingBox.confirm()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </button>
                </div>
            </div>
            <!-- Created mappings -->
            <div class="panel panel-default ia-mapping-box"
                ng-repeat="mapping in mappings">
                <div class="panel-heading ia-bold">
                    {{ getMappingDisplayName(mapping.id) }}
                </div>
                <div class="panel-body">
                    <table class="table table-striped ia-table">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Mapping</th>
                                <th>Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attr in mapping.attributes">
                                <td>{{ attr.name }}</td>
                                <td>{{ attr.type }}</td>
                                <td>
                                    <span ng-if="attr.type === 'entity'">
                                        {{ getMappingDisplayName(attr.entity) }}
                                    </span>
                                    <span ng-if="attr.type === 'entry'">
                                        {{ attr.entry }}
                                    </span>
                                    <span ng-if="attr.type === 'value'">
                                        {{ attr.value }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer ia-navigation">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ia-navigation">
        <button class="btn btn-danger" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="confirm()">
            <span class="glyphicon glyphicon-ok"></span>
            Continue
        </button>
    </div>
</div>
