<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-training-heading" jhiTranslate="securityRatApp.training.home.createOrEditLabel">Create or edit a Training</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.training.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.training.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="securityRatApp.training.allRequirementsSelected" for="field_allRequirementsSelected">All Requirements Selected</label>
                    <input type="checkbox" class="form-control" name="allRequirementsSelected" id="field_allRequirementsSelected"
                           formControlName="allRequirementsSelected"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="securityRatApp.training.optColumn" for="field_optColumns">Opt Column</label>
                    <select class="form-control" id="field_optColumns" multiple name="optColumns" formControlName="optColumns">
                        <option [ngValue]="getSelected(editForm.get('optColumns')!.value, optColumnOption)" *ngFor="let optColumnOption of optcolumns; trackBy: trackById">{{ optColumnOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="securityRatApp.training.collection" for="field_collections">Collection</label>
                    <select class="form-control" id="field_collections" multiple name="collections" formControlName="collections">
                        <option [ngValue]="getSelected(editForm.get('collections')!.value, collectionInstanceOption)" *ngFor="let collectionInstanceOption of collectioninstances; trackBy: trackById">{{ collectionInstanceOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="securityRatApp.training.projectType" for="field_projectTypes">Project Type</label>
                    <select class="form-control" id="field_projectTypes" multiple name="projectTypes" formControlName="projectTypes">
                        <option [ngValue]="getSelected(editForm.get('projectTypes')!.value, projectTypeOption)" *ngFor="let projectTypeOption of projecttypes; trackBy: trackById">{{ projectTypeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
