<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alternativeSet">
            <h2><span jhiTranslate="securityRatApp.alternativeSet.detail.title">Alternative Set</span> {{ alternativeSet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.alternativeSet.name">Name</span></dt>
                <dd>
                    <span>{{ alternativeSet.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.alternativeSet.description">Description</span></dt>
                <dd>
                    <span>{{ alternativeSet.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.alternativeSet.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ alternativeSet.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.alternativeSet.active">Active</span></dt>
                <dd>
                    <span>{{ alternativeSet.active }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.alternativeSet.optColumn">Opt Column</span></dt>
                <dd>
                    <div *ngIf="alternativeSet.optColumn">
                        <a [routerLink]="['/opt-column', alternativeSet.optColumn?.id, 'view']">{{ alternativeSet.optColumn?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alternative-set', alternativeSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
