<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reqCategory">
            <h2><span jhiTranslate="securityRatApp.reqCategory.detail.title">Req Category</span> {{ reqCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="securityRatApp.reqCategory.name">Name</span></dt>
                <dd>
                    <span>{{ reqCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.reqCategory.shortcut">Shortcut</span></dt>
                <dd>
                    <span>{{ reqCategory.shortcut }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.reqCategory.description">Description</span></dt>
                <dd>
                    <span>{{ reqCategory.description }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.reqCategory.showOrder">Show Order</span></dt>
                <dd>
                    <span>{{ reqCategory.showOrder }}</span>
                </dd>
                <dt><span jhiTranslate="securityRatApp.reqCategory.active">Active</span></dt>
                <dd>
                    <span>{{ reqCategory.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/req-category', reqCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
